<!--semantica que contiene el pie de pagina-->
<footer class="container-fluid my-5 py-1 bg-dark text-white">
    <div class="row">
      <div class="d-none d-sm-block ">Compra tu celular</div>
      <div class="col text-center text-sm-right">
        <p>&#169; Derechos reservados</p> 
      </div>
    </div>
  </footer>